- if request.format.html?
  %P
    = link_to  url_for(request.params.merge(:format => :pdf)) do
      Download as PDF
%section.ui-invoice
  .container-fluid
    .row
      .col-xs-12
        .invoice-title
          .col-xs-4 
            Library Invoice Number
            = "LB" + @invoice.invoice_num
          .col-xs-4.text-center
            %span.invoice-header Invoice
            %br
              %span.invoice-org UC San Diego Library
          .col-xs-4
            %img.logo.pull-right{:alt => "logo", :src => "https://igpp.ucsd.edu/sites/default/files/images/UCSD-logos-horizontal.png"}/
        .row
          .col-xs-offset-1.col-xs-5
            %address
              %strong 
              = @invoice.patron_ar_code
              %br
              = @invoice.patron_name
              %br
              = @invoice.patron_address1
              %br
              - if !@invoice.patron_address2.blank?
                = @invoice.patron_address2
                %br
              - if !@invoice.patron_address3
                = @invoice.patron_address3
                %br
              - if !@invoice.patron_address4
                = @invoice.patron_address4
                %br
              = @invoice.patron_city
              , 
              = @invoice.patron_state
              = @invoice.patron_zip1 
          .col-xs-offset-1.col-xs-5
            %address
              %strong
              %br
                %br
                  %br
                    %br
                    = convert_date_mmddyy(Time.zone.now)
        .row
          .col-xs-offset-7.col-xs-5
            ILL Phone # 858 534-2528
        %hr
          .row
            .col-xs-6
              %span.small-indent UCSD FEIN: 95-6006144
            .col-xs-offset-1.col-xs-3.col-xs-offset-2
              %table.table.table-condensed
                %thead.thead1
                  %tr
                    %th Detail Code
                    %th Total
                %tbody
                  %tr
                    %td LIBLPS
                    %td
                      = @invoice.charge
    %br
      %br
        / put the macks check payable box here
        .row
          .col-xs-8
            .box
              %font{ :color => "red" } Please call Lilly Chodur in ILL Billing at (858) 534-5902 to pay with a credit card.
              %br
              %br
              Make checks payable to:  The Regents of the University of California
              %br
              Mail payment and a copy of this Invoice to:
              .invoice-address.pull-right
                .invoice-address-inner
                  Central Cashier's Office 0009
                  %br
                    9500 Gilman Drive
                    %br
                      La Jolla, CA 92093-0009
              .box-bottom Please include your account number and the invoice number on your remittance.
        / **************************DESCRIPTION OF CHARGES********************************
        .row
          .col-xs-12.text-center
            .descriptionOfCharges Description of Charges
        %hr.hr-margin
          .row
            .col-xs-2
              %div Invoice #
            .col-xs-2
              ILL Number
            .col-xs-1
              Pages
            .col-xs-8
          / **************************TABLE OF CHARGES********************************
          .row
            .col-xs-2
              = "LB" + @invoice.invoice_num
            - if @invoice.ill_number.blank?
              .col-xs-2
                Various
            - else
              .col-xs-2
                = @invoice.ill_number
            .col-xs-1
              = @invoice.number_prints
            .col-xs-5
              Interlibrary Loan
              = @invoice.invoice_type + " -----" 
              = @invoice.number_prints 
              Requests total
              %br/
              ILL# 
              = @invoice.comments
            .col-xs-2
              = @invoice.charge
          / **************************TOTAL********************************
          %hr.hr-margin
            .row
              .col-xs-2
                **Final Counts:
              .col-xs-2
                Articles=
              .col-xs-2
                1
              .col-xs-offset-2.col-xs-2
                Total
              .col-xs-2
                = @invoice.charge


