%section.my_queue.container
  .row
    .col-sm-10.col-sm-offset-1
      %article
        %header
          %h2
            #{@current_batch_count} bills generated from current batch
        %table.table
          %thead
            %tr
              %th(width="15%") Patron Name
              %th(width="15%") Charge
              %th(width="15%") Links
          %tbody
            - if @current_batch_result
              - @current_batch_result.each do |invoice|
                %tr
                  %td
                    = invoice.patron_name
                  %td
                    $
                    = invoice.charge
                  %td
                    = link_to "View Bill Detail"
                  %td
                    = link_to "Download Bill(PDF)"
                  %td
                    = link_to "Send an Email"
          .pagination-wrapper
            = paginate @current_batch_result if @current_batch_result
        
         
