%section.create.container
  .row
    .col-sm-8.col-sm-offset-1
      = bootstrap_form_for @invoice do |f|
        = render 'shared/content_title', title: "Edit a Invoice" 
        %fieldset
          = f.hidden_field :invoice_num, value: @invoice.invoice_num
          = f.select :invoice_type, options_for_select(["Electronic PhotoCopy", "Book Loan"], nil)
          = f.text_field , selected: @selected_type)
          = f.text_field :number_prints, label: "Number of Prints"
          = f.text_field :charge, label: "Charge"
          = f.select :status, options_for_select(["active", "pending"], selected: @selected_status)
          = f.text_field :ill_number, label: "ILL Number"
          = f.text_area :comments, label: "Comments", rows: 6
          = f.select :patron_id, options_for_select(@patron_list, selected: @selected_patron), { label: "Patron Name" }
        %fieldset.actions.control-group.col-sm-offset-2
          .controls
            %input(type="submit" value="Save" class="btn btn-primary")
            %input(type="reset" value="Cancel" class="btn btn-default")
            = link_to "Go to index page", recharges_path, method: :get, class: 'btn btn-default'