%section.create.container
  .row
    .col-sm-8.col-sm-offset-1
      = bootstrap_form_for @invoice do |f|
        = render 'shared/content_title', title: "Create a New Invoice" 
        = render 'shared/error_messages', obj: @invoice
        %fieldset
          = f.hidden_field :invoice_num, value: Invoice.count + Invoice::START
          .required
            = f.select :invoice_type, options_for_select(["Electronic PhotoCopy", "Book Loan"], nil)
          .required
            = f.text_field :number_prints, label: "Number of Prints"
          .required
            = f.text_field :charge, label: "Charge"
          .required
            = f.select :status, options_for_select(["active", "pending"], nil)
          = f.text_field :ill_number, label: "ILL Number"
          .required
            = f.text_area :comments, label: "Comments", rows: 6
          .required
            = f.select :patron_id, @patron_list, {include_blank: 'Choose Patron Name'}, { label: "Patron Name" }
        %fieldset.actions.control-group.col-sm-offset-2
          .controls
            %input(type="submit" value="Save" class="btn btn-primary")
            %input(type="reset" value="Cancel" class="btn btn-default")
            = link_to "Go to index page", invoices_path, method: :get, class: 'btn btn-default'
