%section.my_queue.container
  .row
    .col-sm-10.col-sm-offset-1
      %article
        %header
          %h2
            Found #{@current_batch_count} invoices for current batch
        %table.table
          %thead
            %tr
              %th(width="15%") Invoice Number
              %th(width="15%") Invoice type
              %th(width="15%") Charge
              %th(width="15%") Status
              %th(width="15%") Number of Prints
              %th(width="15%") Patron Name
              %th(width="25%") Creation Date
              %th(width="15%") Link
          %tbody
            - if @current_batch_result
              - @current_batch_result.each do |invoice|
                %tr
                  %td
                    = invoice.invoice_num
                  %td
                    = invoice.invoice_type
                  %td
                    $
                    = invoice.charge
                  %td
                    = invoice.status
                  %td
                    = invoice.number_prints
                  %td
                    = invoice.patron_name
                  %td
                    = convert_date_mmddyy(invoice.created_at)
                  %td
                    = link_to "edit", edit_invoice_path(invoice.id)
          .pagination-wrapper
            = paginate @current_batch_result if @current_batch_result
        .btn-group.btn-group-justified{:role => "group"}
          .btn-group
            = link_to "Preview Charge Output", create_charge_output_invoices_path, method: :get, class: 'btn btn-default'
          .btn-group{:role => "group"}
            = link_to "Preview Person Output", create_person_output_invoices_path, method: :get, class: 'btn btn-default'
          .btn-group{:role => "group"}
            = link_to "Preview Entity Output", create_entity_output_invoices_path, method: :get, class: 'btn btn-default'
        %br/
        = link_to "FTP to ACT", ftp_file_invoices_path, method: :get, class: 'btn btn-primary'
        = link_to "Create Customer Report", create_report_invoices_path, method: :get, class: 'btn btn-primary'
         
