%section#top-header.row
  %h1.col-md-2
    = link_to "ILL Billing"
  %ul.col-md-5.clearfix
    %li= link_to "Home"
    %li= link_to "Recharge"
    %li= link_to "Invoice"
    %li= link_to "Patron"
    %li= link_to "Logout"
  
 
