!!! 5
%html(lang="en-US")
  %body
    %p
      User Information
      %br/
      \================
      %br/
      Date:
      = @email_date
       
    %p
      \-------
      %br/
      DEPARTMENT:         Library - Interlibrary Loan Billing
      %br/
      CONTACT NAME:     Roger Castillo   
      %br/
      EMAIL ADDRESS:    rccastillo@ucsd.edu
      %br/
      CONTACT PHONE:   858-534-5902
      %br/
      MAILCODE:             0175-A
      %br/
      %br/
      File Description: Accounts Receivable Batch Input Files
      %br/
      From: UCSD Libraries Interlibrary Loan Services
      %br/
      Record Length:                320 Characters
      %br/
      %br/
      Process File Goes To:  ARD2501 (AR Batchload job for Library, ILL)  Files have been loaded to/NET/u/libzzz/in
      %br/
      %br/
      File             Dataset Name (yydd=Julian Date)                     Record Count

      Charges: 
      = @charge_file
      = @charge_count
      Entity:
      = @entity_file
      = @entity_count
      %br/
      Date when input file is to be processed: 
      = @email_date
      
    %p
      Production Control Information
      %br/
      \================
      %br/
      ( For Production Control Use Only ) 
      %br/
      %br/
      File             Dataset Name (yydd=Julian Date)                     Record Count

      Charges: 
      = @charge_file
      = @charge_count
      Entity:
      = @entity_file
      = @entity_count
      %br/

    %p
      Please let me know if you have not received these files or there are any problems.
    %p
      Thank you!
      %br/
      *** Please note that these files are not directly transferred into the allocated file. They need to be moved. Please run the allocation job. Edit and run the retrieve job with the Julian date provided from the client. ***

