%section.create.container
  .row
    .col-sm-8.col-sm-offset-1
      = bootstrap_form_for @fund do |f|
        = render 'shared/content_title', title: title
        = render 'shared/error_messages', obj: @fund
        %fieldset
          .required
            = f.text_field :index_code, label: "Index Code"
          .required
            = f.text_field :program_code, label: "Program Code"
          .required
            = f.text_field :org_code, label: "Organization Code"
          .required
            = f.text_field :fund_code, label: "Fund code"
          = f.text_area :description, label: "Description", rows: 6
        %fieldset.actions.control-group.col-sm-offset-2
          .controls
            %input(type="submit" value="Save" class="btn btn-primary")
            %input(type="reset" value="Cancel" class="btn btn-default")