%section.create.container
  .row
    .col-sm-8.col-sm-offset-1
      = bootstrap_form_for @fund do |f|
        %header
          %h1 Create a New Fund
        %fieldset
          = f.text_field :program_code, label: "Program Code"
          = f.text_field :org_code, label: "Organization Code"
          = f.text_field :index_code, label: "Index Code"
          = f.text_field :fund_code, label: "Fund code"
        %fieldset.actions.control-group.col-sm-offset-2
          .controls
            %input(type="submit" value="Create" class="btn btn-primary")
            %input(type="reset" value="Cancel" class="btn btn-default")
            
