%section.create.container
  .row
    .col-sm-8.col-sm-offset-1
      = bootstrap_form_for @recharge do |f|
        = render 'shared/content_title', title: "Edit a Recharge" 
        %fieldset
          = f.select :fund_id, options_for_select(@index_list, selected: @selected_index), { label: "Index ID" }
          = f.text_field :number_copies, label: "Number of Copies"
          = f.text_field :charge, label: "Charge (Only accept integer and decimal after dot .0/.00/.5/.50)"
          = f.select :status, options_for_select(["active", "pending"], selected: @selected_status)
          = f.text_area :notes, label: "Notes", rows: 6
        %fieldset.actions.control-group.col-sm-offset-2
          .controls
            %input(type="submit" value="Save" class="btn btn-primary")
            %input(type="reset" value="Cancel" class="btn btn-default")
            = link_to "Go to index page", recharges_path, method: :get, class: 'btn btn-default'