%section.create.container
  .row
    .col-sm-8.col-sm-offset-1
      = bootstrap_form_for @recharge do |f|
        = render 'shared/content_title', title: "Create a New Recharge" 
        %fieldset
          = f.text_field :number_copies, label: "Number of Copies"
          = f.text_field :charge, label: "Charge"
          = f.select :status, options_for_select(["active", "pending"], nil)
          = f.text_area :notes, label: "Notes", rows: 6
          = f.select :fund_id, options_for_select(@index_list,nil), { label: "Index ID" }
        %fieldset.actions.control-group.col-sm-offset-2
          .controls
            %input(type="submit" value="Save" class="btn btn-primary")
            %input(type="reset" value="Cancel" class="btn btn-default")

            