%section.my_queue.container
  .row
    .col-sm-10.col-sm-offset-1
      %article
        %header
          %h2 
            Showing results of 1 -10 of #{@current_batch_count} recharges
        %table.table
          %thead
            %tr
              %th(width="15%") Recharge ID
              %th(width="15%") Charge
              %th(width="15%") Status
              %th(width="15%") Number of Copies
              %th(width="15%") Fund_ID
              %th(width="15%") Creation Date
              %th(width="15%") Link
          %tbody
            - if @current_batch_result
              - @current_batch_result.each do |recharge|
                %tr
                  %td 
                    = recharge.id
                  %td 
                    = recharge.charge
                  %td 
                    = recharge.status
                  %td 
                    = recharge.number_copies
                  %td 
                    = recharge.fund_id
                  %td 
                    = convert_date_mmddyy(recharge.created_at)
                  %td
                    = link_to "edit", edit_recharge_path(recharge.id)
          = paginate @current_batch_result if @current_batch_result
        %fieldset.actions.control-group.col-sm-offset-2
        .controls
          -#%a.btn.btn-primary(href="") FTP to ACT
          = link_to "Preview Output File", create_output_recharges_path, method: :get, class: 'btn btn-default'
          = link_to "FTP to ACT", ftp_file_recharges_path, method: :get, class: 'btn btn-primary'
          